<header class="hero">
    <section class="container">
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="logo">Landing</div>
            <button class="btn fill">Buy Now</button>
        </nav>
        <section class="hero-section">
            <h2>Introduce Your Product Quickly & Effectively</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>

            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.
            </p>
            <div class="btns">
                <button class="btn fill">Purchase UI Kit</button>
                <button class="btn outline">Learn More</button>
            </div>
        </section>
    </section>
    <img class="hero-image" src="../assets/images/full-hero-image.png" alt="">
</header>


<div class="container">
    <section class="first-section">
        <div class="first-content">
            <h2 class="title">Light, Fast & Powerful</h2>
            <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
                <!-- <br> -->
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
            </div>
            <div class="icons">
                <div class="first-icon">
                    <img src="../assets/images/icon.png"
                         alt="">
                    <h2>Title Goes Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
                <div class="second-icon">
                    <img src="../assets/images/icon.png"
                         alt="">
                    <h2>Title Goes Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
            </div>
        </div>
        <div class="first-image">
            <img src="../assets/images/section-1.png"
                 alt="">
        </div>
    </section>
</div>

<section class="second-section">
    <div class="container">
        <div class="second-image">
            <img src="../assets/images/section-2.png"
                 alt="">
        </div>

        <div class="second-content">
            <h2 class="title">Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
        </div>
    </div>
</section>

<div class="container">
<section class="third-section">

        <div class="third-image">
            <img src="../assets/images/section-3.png"
                 alt="">
        </div>

        <div class="third-content">
            <h2 class="title">Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
        </div>
</section>
</div>

    <div class="container">
        <section class="fourth-section">
        <div class="third-image">
            <img src="../assets/images/section-4.png"
                 alt="">
        </div>

        <div class="fourth-content">
            <h2 class="title">Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>

            <button class="btn fill">Purchase Now</button>
        </div>
    </section>
    </div>

<section class="pricing">
    <div class="pricing-wrapper">
    <div class="container">
        <div class="price-description">
            <h2 class="title">A Price To Suit Everyone</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
        </div>
        <div class="price">
            <h2>$40</h2>
            <p>UI Design Kit</p>
        </div>

        <div class="purchase">
            <p>See, One price. Simple.</p>
            <button class="btn fill">Purchase Now</button>
        </div>
    </div>
</div>
<div class="bg-price-image">
    <img src="../assets/images/pricing-hero-bg.png" alt="">
</div>
</section>

<footer class="footer-section">
    <div class="container">
        <div class="upper-part">
            <div class="company">©2023 Yourcompany</div>
            <div class="logo">Landing</div>
            <button class="btn fill">Purchase Now</button>
        </div>
        <hr>
        <div class="bottom-part">
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <div class="social-links">
                    <img src="../assets/images/facebook.png"
                         alt="">
                    <img src="../assets/images/linkedin.png"
                         alt="">
                    <img src="../assets/images/twitter.png"
                         alt="">
                    <img src="../assets/images/youtube.png"
                         alt="">
                    <img src="../assets/images/instagram.png"
                         alt="">
                </div>
            </nav>
        </div>
    </div>
</footer>