// google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// reset css for different browser

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// variables

:root {
  --bg-color: #f0f0f0;
  --footer-color: #e7ecff;
  --button-color: #111b47;
  --small-font-color: #505f98;
  --big-font-color: #091133;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 300;
  --button-light-color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--regular-font-weight);
  font-size: var(--small-font-color);
}

// layout

.container {
  //   width: 1110px;
  //   margin: 0 auto;
  margin: 0px 165px 0px 165px;
}

// Reusable elements

.btn {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 5px 16px;
  width: 189.13px;
  height: 36px;
}

.btn.fill {
  background-color: var(--button-color);
}

.btn.outline {
  background-color: var(--button-light-color);
  color: var(--big-font-color);
  font-size: 16px;
  border: 3px solid var(--button-color);
}

.title {
  font-size: 36px;
  font-weight: bold;
}

// Hero section
.hero {
  background: url("../src/assets/images/full-hero-image.png") no-repeat right
    top / auto;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;

  ul {
    display: flex;
    gap: 60px;
  }

  .logo {
    font-size: 26px;
    font-weight: bold;
  }
}

.hero-section {
  padding-top: 243px;
  width: 540px;

  h2 {
    font-size: 50px;
    // font-weight: bold;
    // line-height: 66px;
  }

  p:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }

  .btns {
    display: flex;
    gap: 30px;
    margin-top: 68px;
  }
}

// first section
.first-section {
  margin-top: 100px;
  display: flex;
}
